<nav class="navbar fixed-top navbar-dark bg-dark container-fliud">
  <center><a class="navbar-brand" href="#">Coronavirus Statistics</a></center>
</nav>

<nav class="navbar navbar-dark bg-dark container-fliud">
  <a class="navbar-brand" href="#">####</a>
</nav>

<div class = "container">
    <p> </p>
<div class="row card">
    <p> </p>
    <p><Globaldata/></p>
</div>

<div class="row"> <p> </p> </div>

<div class="row">
  <div class="card col-4">
    <p> </p>
    <p><Countries/></p>
  </div>
  <h1>  </h1>
  <div class="card p-3 col-8">
    <p> </p>
    <p><Map/></p>
  </div>
  
</div>

<div class="row"> <p> </p> </div>


<div class="row">
  <div class="card col-4">
    <p> </p>
    <p><Rate/></p>
  </div>
  <h1>  </h1>
  <div class="card p-3 col-8">
    <p> </p>
    <p><Timeline/></p>
  </div>
  
</div>

<div class="row"> <p> </p> </div>


<div class="row">
  <div class="card col-4">
    <p> </p>
    <p> </p>
  </div>
  <h1>  </h1>
  <div class="card p-3 col-8">
    <p> </p>
    <p><Irates/></p>
  </div>
  
</div>

</div>


<!-- <Countries/>

<Timeline/> -->
  